.sideBarContainer{
    height:100vh;
    transition:1s;
    background-color:#fbfbfb;
    display:flex;
    /* border-right:1px solid #ccc; */
}

/* .sideBarInnerContainer{
}

.openButtonContainer{
} */

.sideBar-open{
    width:220px !important;
}

.sideBar-closed{
    width:20px !important;
}