<div class='conainter'>
    <div class='innerContainer'>
        <div class='leftContainer'>
        </div>
        <div class='rightContainer'>
            <select [value]='selectedMonthString'
                [(ngModel)]='monthSelection'
                (change)="selectMonth(monthSelection)"
                class='monthSelector'>
                
                <option [value]='month'
                    *ngFor='let month of monthsOfYear'>
                        {{month}}
                </option>

            </select>
        </div>
    </div>
</div>