<div class='cellContainer'>
    <div class='cellNumber'>       
        <span>{{dayData.int.day}}</span><span class='holidayTitle'>{{dayData.holidayInfo.title}}</span>
    </div>
    <div class='cellBody'>
        <div [hidden]='dayData.assignments.length > 2'
        class='assignment'
        [style.background-color] = "assignment.color"
        *ngFor="let assignment of dayData.assignments">
            <span>{{assignment.subject}}</span>
        </div>
        <!-- <div [hidden]='dayData.assignments.length > 2'
            class='assignment'
            [style.background-color] = "assignment.color"
            *ngFor="let assignment of dayData.assignments">
                <span>{{assignment.subject}}</span>
        </div> -->
    </div>
</div>
