
.bodyContainer{
    height:calc(100vh - 51px);
    width:100%;
    display:flex;
    flex-direction: row;
    /* background-color:red; */
}

.sidebarContainer{
    height:100%;
    width:230px;
    background-color:#e2e2e273;
    border-right:1px solid #cccccc61;
}

.mainContainer{
    background-color:#f1f1f16b;
    width:100%;
    height:100%;
}