
*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.mainCalendarContainer{
    float:left;
    width:100%;
    height:100vh;
}

.calendarToolbar{
    height:40px;
    background-color:#484848b8;
}

.weekendCell{
    background-image: linear-gradient(45deg, #f0ebec 25%, #f5d7d7 25%, #f5d7d7 50%, #f0ebec 50%, #f0ebec 75%, #f5d7d7 75%, #f5d7d7 100%);
    background-size: 14.14px 14.14px;
    color:#f5d7d7;
}

.innerCalendarContainer{
    height:680px;
    overflow-x:hidden;
    overflow-y: auto;
}

.daysBar{
    width:100%;
    background-color: #dadada21;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

table{
    table-layout: fixed;
    width: 100% ;
}

th{
    text-align:left;
    font-size:0.8em;
    padding:5px;
    color:#525252;
    font-weight:100;
}

/* .tableHeadingRow{
    border:1px solid #ccc;
    border-bottom:none;
} */

.todayCell{
    background-color:#daffda;
}

.calendar{
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.calendarCell{
    border: 1px solid #ccc;
}

.calendarCell, .calendarCellHeading{
    height:100px;
    vertical-align: top;
    text-align: left;
    padding:5px;
    font-size:0.9em;
}

.colspanCell{
    background-color: #e0e0e063;
    color: #bbb;
}

.calendarHeading{
    font-size:2em;
    padding: 20px;
    /* border:1px solid #ccc;
    border-bottom:none;
    border-top:none; */
}

.calendarHeading-first{
    border-top:1px solid #ccc;
}

.calendarHeading-month{
    font-weight:500;
}

.calendarHeading-year{
    font-weight:200;
}