<div class='mainCalendarContainer'>
  <!-- <app-tool-bar></app-tool-bar> -->
    <div class='innerCalendarContainer'>
            <div id='{{"scroll-" + month.month.toLowerCase()}}' class='calendarContainer' *ngFor="let month of calendarConfig">
            <div class='calendarHeading'><span class='calendarHeading-month'>{{month.month}}</span><span class='calendarHeading-year'> {{month.year}}</span></div>
            <table class='calendar'>
                <thead>
                    <tr class='tableHeadingRow'>
                        <th *ngFor="let dayOfWeek of daysOfWeek">{{dayOfWeek}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class='calendarCell' *ngFor="let week of month.weeks">
                        <td [ngClass]="{'colspanCell': day.isColspan, 'weekendCell':day.isWeekend}" class='calendarCell' *ngFor="let day of week">
                            <app-calendar-cell [dayData]='day'></app-calendar-cell>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
