
*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.calendarContainer{
    height:100%;
}

.mainCalendarContainer{
    background-color:white;
    height:100%;
    width:100%;
}

.assignmentCircleContainer{
    text-align:center;
}

.calendarToolbar{
    height:60px;
    background-color:#484848b8;
}

.weekendCell{
    background-image: linear-gradient(45deg, #f0ebec 25%, #f5d7d7 25%, #f5d7d7 50%, #f0ebec 50%, #f0ebec 75%, #f5d7d7 75%, #f5d7d7 100%);
    background-size: 14.14px 14.14px;
    color:#f5d7d7;
}

.innerCalendarContainer{
    height:calc(100% - 50px);
    overflow-x: auto;

}

.daysBar{
    width:100%;
    background-color: #dadada21;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

table{
    /* margin-top: 10px; */
    table-layout: fixed;
    width: 100%;
    height:85%;
}

th{
    text-align:left;
    font-size:0.8em;
    padding:5px;
    color:#525252;
    font-weight:100;
}

.todayCell{
    background-color:#daffda;
}

.calendar{
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.cellNumber{
    font-size:0.7em;
    text-align: center;
    color: #7d7d7d;
    margin-top:5px;
}

.calendarCell{
    height:100px;
    /* width:80px; */
    vertical-align: top;
    border:1px solid #f1f1f1;

}

.colspanCell{
    background-color: #e0e0e036;
    color: #bbb;
}

.calendarHeading{
    font-size:2em;
    padding: 40px 20px;
}

.calendarHeading-first{
    border-top:1px solid #ccc;
}

.calendarHeading-month{
    font-weight:500;
}

.calendarHeading-year{
    font-weight:200;
}

.innerCalendarContainer::-webkit-scrollbar { 
    display: none; 
}