<div class='mainCalendarContainer'>
<app-tool-bar (monthSelected) = "scrollToMonth($event)" class='toolBar'></app-tool-bar>
    <div class='innerCalendarContainer'>
            <div id='{{"scroll-" + month.month.toLowerCase()}}' class='calendarContainer' *ngFor="let month of calendarMetadata">
            <div class='calendarHeading'><span class='calendarHeading-month'>{{month.month}}</span><span class='calendarHeading-year'> {{month.year}}</span></div>
            <table class='calendar'>
                <thead>
                    <tr class='tableHeadingRow'>
                        <th *ngFor="let dayOfWeek of daysOfWeek">{{dayOfWeek}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class='calendarCellRow' *ngFor="let week of month.weeks">
                        <td [ngStyle]='cellStyle(i)' [ngClass]="cellBackground(i, day)" class='calendarCell' *ngFor="let day of week; let i = index;">
                            <app-calendar-cell [dayData]='day'></app-calendar-cell>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>